/*
TOP LEVEL STYLES
*/

.arrow{
  font-family: "JF Dot K14";
  line-height: 1em;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 0.2ch 0.2ch 0px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: fit-content;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: opacity;
  transition-duration: 0.25s;
}

.arrow-up {
  top: 0%;
  margin-top: 5px;
}

.arrow-down {
  top: calc(100% - 1em);
  margin-top: -5px;
}


.main-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.fade {
  --fade-height: 15px;
  padding-bottom: calc(var(--fade-height) + 10px);
  padding-top: calc(var(--fade-height) + 10px);
  --mask-img-content: linear-gradient(to bottom, transparent, black var(--fade-height), black calc(100% - calc(var(--fade-height)) + 5px), transparent);

  mask-image: var(--mask-img-content);
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat;
}

.center-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  width: 50vw;
  min-width: 615px;
  max-width: 800px;
  max-height: 85vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 625px) {
  .center-cont {
    width: calc(100vw - 10px);
    max-width: initial;
    min-width: initial;
  }
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}


/* 
FONTS and COLOR VARIABLES -----------------------------------------------------
*/


@font-face {
  font-family: 'Orange Kid';
  src: url('../fonts/orange_kid-webfont.woff2') format('woff2'),
    url('../fonts/orange_kid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JF Dot K14";
  src: url(../fonts/JF-Dot-K14-Regular.eot);
  src: url(../fonts/JF-Dot-K14-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/JF-Dot-K14-Regular.woff2) format("woff2"),
    url(../fonts/JF-Dot-K14-Regular.woff) format("woff"),
    url(../fonts/JF-Dot-K14-Regular.ttf) format("truetype"),
    url(../fonts/JF-Dot-K14-Regular.svg#JF-Dot-K14-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --ssb-r: #f26c4f;
  --ssb-o: #fbaf5d;
  --ssb-y: #fff568;
  --ssb-g: #acd373;
  --ssb-tq: #1cbbb4;
  --ssb-lb: #00bff3;
  --ssb-db: #448ccb;
  --ssb-dp: #605ca8;
  --ssb-lp: #8560a8;
  --ssb-p: #d84080;
  --rainbow-speed: 1s;
}

.ssb-r {
  color: var(--ssb-r);
  background-color: var(--ssb-r);
  --hover-color: rgba(242, 108, 79, 0.5);
}

.ssb-o {
  color: var(--ssb-o);
  background-color: var(--ssb-o);
  --hover-color: rgba(251, 175, 93, 0.5);
}

.ssb-y {
  color: var(--ssb-y);
  background-color: var(--ssb-y);
  --hover-color: rgba(255, 245, 104, 0.5);
}

.ssb-g {
  color: var(--ssb-g);
  background-color: var(--ssb-g);
  --hover-color: rgba(172, 211, 115, 0.5);
}

.ssb-tq {
  color: var(--ssb-tq);
  background-color: var(--ssb-tq);
  --hover-color: rgba(28, 187, 180, 0.5);
}

.ssb-lb {
  color: var(--ssb-lb);
  background-color: var(--ssb-lb);
  --hover-color: rgba(0, 191, 243, 0.5);
}

.ssb-db {
  color: var(--ssb-db);
  background-color: var(--ssb-db);
  --hover-color: rgba(68, 140, 203, 0.5);
}

.ssb-dp {
  color: var(--ssb-dp);
  background-color: var(--ssb-dp);
  --hover-color: rgba(96, 92, 168, 0.5);
}

.ssb-lp {
  color: var(--ssb-lp);
  background-color: var(--ssb-lp);
  --hover-color: rgba(133, 96, 168, 0.5);
}

.ssb-p {
  color: var(--ssb-p);
  background-color: var(--ssb-p);
  --hover-color: rgba(216, 64, 128, 0.5);
}

.ssb-blk {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  --hover-color: rgba(0, 0, 0, 0.5);
}

.ssb-md {
  color: rgb(255, 103, 64);
  background-color: rgb(255, 103, 64);
  --hover-color: rgba(255, 103, 64, 0.5);
  --outline: rgb(255, 103, 64);
}

.ssb-dy {
  color: rgb(0, 41, 81);
  background-color: rgb(0, 41, 82);
  --hover-color: rgba(0, 41, 82, 0.5);
  --outline: rgb(0, 41, 81);
}

.ssb-tw {
  color: rgb(29, 155, 240);
  background-color: rgb(29, 155, 240);
  --hover-color: rgba(29, 155, 240, 0.5);
  --outline: rgb(29, 155, 240);
}

.ssb-hm {
  color: var(--ssb-p);
  background-color: var(--ssb-p);
  --hover-color: rgba(216, 64, 128, 0.5);
  --outline: var(--ssb-p);
}

.ssb-px{
  color: rgb(1, 150, 251);
  background-color: rgb(1, 150, 251);
  --hover-color: rgba(1, 150, 251, 0.5);
  --outline: rgb(1, 150, 251);
}

/* 
RAINBOW animations ------------------------------------------------------------
*/

.rainbow-color,
.rainbow-link:hover .rainbow-link-color {
  animation: rainbow var(--rainbow-speed) infinite;
}

@keyframes rainbow {

  0%,
  100% {
    color: var(--ssb-r);
  }

  10% {
    color: var(--ssb-o);
  }

  20% {
    color: var(--ssb-y);
  }

  30% {
    color: var(--ssb-g);
  }

  40% {
    color: var(--ssb-tq);
  }

  50% {
    color: var(--ssb-lb);
  }

  60% {
    color: var(--ssb-db);
  }

  70% {
    color: var(--ssb-dp);
  }

  80% {
    color: var(--ssb-lp);
  }

  90% {
    color: var(--ssb-p);
  }
}

.rainbow-float,
.rainbow-link:hover .rainbow-link-float {
  animation: rainbow-float var(--rainbow-speed) cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite;
}

.rainbow-link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.rainbow-link:hover {
  text-decoration: none;
}

@keyframes rainbow-float {

  0%,
  100% {
    position: relative;
    top: -0.1em;
  }

  50% {
    position: relative;
    top: 0.1em;
  }
}

.rain-r,
.rainbow-link:hover .rain-r {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0));
}

.rain-o,
.rainbow-link:hover .rain-o {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.1));
}

.rain-y,
.rainbow-link:hover .rain-y {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.2));
}

.rain-g,
.rainbow-link:hover .rain-g {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.3));
}

.rain-tq,
.rainbow-link:hover .rain-tq {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.4));
}

.rain-lb,
.rainbow-link:hover .rain-lb {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.5));
}

.rain-db,
.rainbow-link:hover .rain-db {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.6));
}

.rain-dp,
.rainbow-link:hover .rain-dp {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.7));
}

.rain-lp,
.rainbow-link:hover .rain-lp {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.8));
}

.rain-p,
.rainbow-link:hover .rain-p {
  animation-delay: calc(0s - calc(var(--rainbow-speed) * 0.9));
}

/*
SWUP animations ---------------------------------------------------------------
*/

.transition-slide {
  transition: 0.5s;
  position: absolute;
  opacity: 1;
  left: 0px;
}

html.is-animating.is-rendering.to-right .transition-slide {
  left: -20px;
  opacity: 0;
}

html.is-animating.to-right .transition-slide {
  left: 20px;
  opacity: 0;
}

html.is-animating.is-rendering.to-left .transition-slide {
  left: 20px;
  opacity: 0;
}

html.is-animating.to-left .transition-slide {
  left: -20px;
  opacity: 0;
}

/* 
Default BACKGROUND, FONT, and CONTENT settings --------------------------------
*/

.ssb-bg {
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.ssb-font {
  font-family: "Orange Kid";
  color: rgb(255, 255, 255);
  text-shadow: 0.2ch 0.2ch 0em rgba(0, 0, 0, 0.5);
  line-height: 0.9em;
  text-align: center;
}


/*
BUTTONS -----------------------------------------------------------------------
*/

.ssb-butt {
  font-family: "Orange Kid";
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-shadow: 0.2ch 0.2ch 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  width: fit-content;
  display: inline-block;
  padding: 0.9em;
  padding-bottom: 1em;
  vertical-align: center;
  text-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
}

.ssb-butt-disabled {
  font-family: "Orange Kid";
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-shadow: 0.2ch 0.2ch 0px rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  border-radius: 0.5em;
  width: fit-content;
  display: inline-block;
  padding: 0.5em 1em;
  padding-bottom: 0.6em;
  vertical-align: center;
  text-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  box-shadow: 0px 0px 0px 2px inset var(--outline);
  background-color: initial;
  position: relative;
}

:hover.ssb-butt-disabled {
  box-shadow: 0px 0px 0px 2px inset var(--hover-color);
}

:hover.ssb-butt {
  box-shadow: 0 0 0 5px var(--hover-color);
}

.ssb-butt-sm {
  font-size: 15px;
}

:hover.ssb-butt-sm {
  box-shadow: 0 0 0 3px var(--hover-color);
}

.main-butt > *{
  margin: 3px;
}

.main-butt > div > .ssb-butt{
  margin-left: 3px;
  margin-right: 3px;
}

/*
FOOTER ------------------------------------------------------------------------
*/

.footer-main {
  position: absolute;
  top: 95%;
  left: 0px;
  height: 5%;
  width: 100%;
  display: flex;
}

.footer-content {
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

/*
BREADCRUMBS -------------------------------------------------------------------
*/

ul.breadcrumb {
  padding: 0.1em;
  list-style: none;
  white-space: nowrap;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: opacity;
  transition-duration: 0.25s;
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

ul.breadcrumb li+li:before {
  padding: 0.3em;
  content: "\2192";
  vertical-align: middle;
  font-family: "JF Dot K14";
  margin-left: -0.5ch;
}

/*
TOOLTIPS ----------------------------------------------------------------------
*/

.tip {
  position: absolute;
  vertical-align: center;
  width: 14em;

  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  padding-inline: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Orange Kid";
  text-shadow: 0.2ch 0.2ch 0px rgba(0, 0, 0, 0.5);
  text-align: justify;

  transition: all .2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  bottom: 90%;
  transform: translateX(-50%);
  left: 50%;
}

/*
INPUT, SELECT, SUBMIT FIELDS --------------------------------------------------
*/

input {
  font-family: "Orange Kid";
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  padding-bottom: 0.6em;
  vertical-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
  margin: 0.2em;
}

input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

input.submit {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

input.submit:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

input.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input.checkbox-as {
  -webkit-appearance: none;
  background-color: var(--ssb-dp);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 0.7em;
  vertical-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
}

.checkbox-as:hover,
.checkbox-as:checked:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.checkbox-as:checked {
  background-color: var(--ssb-g);
}

.checkbox-as:checked:after {
  content: 'This is a oneshot';
  font-size: 14px;
  position: relative;
}

.checkbox-as:after {
  content: 'This is a series';
  font-size: 14px;
  position: relative;
}

input.checkbox-ex {
  -webkit-appearance: none;
  background-color: var(--ssb-g);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 0.7em;
  vertical-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
}

.checkbox-ex:hover,
.checkbox-ex:checked:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.checkbox-ex:checked {
  background-color: var(--ssb-r);
}

.checkbox-ex:checked:after {
  content: 'Not available on SSB';
  font-size: 14px;
  position: relative;
}

.checkbox-ex:after {
  content: 'Available on SSB';
  font-size: 14px;
  position: relative;
}

input.checkbox-nsfw {
  -webkit-appearance: none;
  background-color: rgb(37, 231, 39);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 0.7em;
  vertical-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
}

.checkbox-nsfw:hover,
.checkbox-nsfw:checked:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.checkbox-nsfw:checked {
  background-color: rgb(255, 0, 0);
}

.checkbox-nsfw:checked:after {
  content: 'Author draws NSFW';
  font-size: 14px;
  position: relative;
}

.checkbox-nsfw:after {
  content: 'Author does not draw NSFW';
  font-size: 14px;
  position: relative;
}


label.file {
  font-family: "Orange Kid";
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  padding-bottom: 0.6em;
  vertical-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
  margin: 0.2em;
  cursor: pointer;
  font-size: 15px;
}

label.file:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

select {
  position: relative;
  font-family: "Orange Kid";
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  padding-bottom: 0.6em;
  vertical-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
  margin: 0.2em;
  cursor: pointer;
  font-size: 15px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

textarea {
  position: relative;
  font-family: "Orange Kid";
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  padding-bottom: 0.6em;
  vertical-align: center;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 0.9);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  outline: none;
  cursor: pointer;
  font-size: 15px;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  max-height: 60vh;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

/*
FROSTED GLASS effect ----------------------------------------------------------
*/

.glass {
  background: rgba(41, 89, 105, 0.5);
}

@supports (backdrop-filter: blur(10px)) {
  .glass {
    /*Safari (and Chrome technically, but it's bugged so it doesn't show) gets the blur*/
    backdrop-filter: blur(10px);
  }
}

/*
MANGA page --------------------------------------------------------------------
*/

.b-r {
  margin: 5px;
  border-radius: 7px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.info-align {
  text-align: left;
}

.latest-butt {
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.no-permissions{
  position: absolute;
  text-align: center;
  width: fit-content;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .info-align {
    text-align: center;
    align-items: center;
  }
}

.manga-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  padding: 1px;
  margin-bottom: 5px;
}

.manga-main .ssb-butt {
  padding: 0.5em 1em;
  padding-bottom: 0.6em;
}

.read-buttons > .ssb-butt {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.card-width {
  width: fit-content;
}

@media screen and (max-width: 500px) {
  .manga-main {
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-width {
    width: 100%;
  }
}

.manga-sub {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}

.manga-cover {
  min-height: 100px;
  max-height: 322px;
  background: white;
  margin: 5px;
  border-radius: 7px;
  object-fit: contain;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.manga-disc {
  text-align: justify;
  padding: 5px 7px 7px 7px;
  font-size: 20px;
  line-height: 1em;
  border-radius: 8px;
  height: fit-content;
}

@media screen and (max-width: 500px) {
  .manga-disc {
    margin: 5px 0px 0px 0px;
  }
}

.manga-author {
  font-size: 25px;
  text-align: left;
  text-decoration: underline;
  text-underline-position: from-font;
  text-decoration-thickness: 0.04em;
  line-height: 1em;
}

.manga-title {
  display: flex;
  flex-direction: row;
}

.title-en {
  line-height: 1em;
  border-radius: 8px;
  margin-top: -8px;
  position: relative;
}

.title-og {
  font-family: "JF Dot K14";
  padding-top: 10px;
}

/*
CHAPTER tables ----------------------------------------------------------------
*/

.manga-ch {
  margin: 5px;
  margin-top: 15px;
  font-size: 20px;
  width: 100%;
}

.manga-ch tbody{
  /*I have no idea why I have to put this again, since it should be inherited*/
  width: 50vw;
  min-width: 480px;
  /*This is very slightly different to account for the weirdness of the table*/
  max-width: 788px;
}

.ch-title {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 1.15em;
  flex: 1;
  padding-right: 8px;
}

.manga-ch tr {
  /*For some reason, this is required for Safari to show the table correctly*/
  display: flex;
  flex-wrap: nowrap;

  

  padding: 10px;
  margin: 1px;
  margin-left: 6px;
  margin-right: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);

  transition: background .2s ease-in-out;

}

/*Same thing as above*/
@media screen and (max-width: 500px) {
  .manga-ch tr {
    width: calc(100vw - 12px);
    max-width: initial;
    min-width: initial;
    flex-wrap: wrap !important;
    align-content: center
  }
  
  .ch-title{
    width: 100%;
    flex-basis: 1;
    flex: initial;
    margin-bottom: 5px;
  }
}

.manga-ch tr:hover {
  background: rgba(0, 0, 0, 0.5);
}

.manga-ch tr:first-child {
  border-radius: 8px 8px 0px 0px;
}

.manga-ch tr:last-child {
  border-radius: 0px 0px 8px 8px;
}

.manga-ch tr:only-child {
  border-radius: 8px 8px 8px 8px;
}

.read-buttons {
  align-self: flex-end;
}

@media (max-width: 500px) {
  .read-buttons > .ssb-butt:first-child > .tip {
    left: 150%;
  }
}

.ssb-hm:hover,
.ssb-md:hover,
.ssb-tw:hover,
.ssb-dy:hover {
  box-shadow: 0 0 0 2px var(--hover-color);
}

.ssb-hm:hover.ssb-butt-disabled,
.ssb-md:hover.ssb-butt-disabled,
.ssb-tw:hover.ssb-butt-disabled,
.ssb-dy:hover.ssb-butt-disabled {
  box-shadow: 0 0 0 2px inset var(--hover-color);
}

.read-hint {
  text-align: center;
  width: fit-content;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}

.ssb-hm:hover .tip,
.ssb-md:hover .tip,
.ssb-tw:hover .tip,
.ssb-dy:hover .tip {
  opacity: 1;
  visibility: visible;
  bottom: 125%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}

.date {
  text-align: right;
  padding-left: 8px;
  width: 4.1em;
}

.heart {
  width: fit-content;
  text-align: right;
  top: 1px;
  position: relative;
  padding-left: 8px;
  margin-right: -3px;
}

.credits {
  text-align: center;
  width: fit-content;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 90%;
}

.heart:hover .tip {
  opacity: 1;
  visibility: visible;
  bottom: 110%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}

/*
CARD LISTS --------------------------------------------------------------------
*/

.card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  margin: 5px;
  width: calc(25% - 10px);
  max-height: 450px;
}

@media screen and (max-width: 625px){
  .card{
    width: calc(33.333333% - 10px)
  }
}

@media screen and (max-width: 450px){
  .card{
    width: calc(50% - 10px)
  }
}

.card-image{
  width: 100%;
  object-fit: contain;
  border-radius: 7px 7px 0px 0px;
  margin-bottom: 5px;
}

.mini-disc{
  text-align: justify;
  overflow: scroll;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
  font-size: 15px;
  height: 100%;
}

.author-card-image{
  width: 400px;
  object-fit: revert;
}

/*
AUTHOR PAGE -------------------------------------------------------------------
*/

.author-image{
  width: 100%;
  background: white;
  margin: 5px;
  border-radius: 7px;
  object-fit: contain;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.warning-sfw{
  text-align: center;
  background: rgba(37, 231, 39, 0.5);
}

.warning-nsfw{
  text-align: center;
  background: rgba(255, 0, 0, 0.5);
}

.ssb-px:hover {
  box-shadow: 0 0 0 2px var(--hover-color);
}

.mini-logo{
  object-fit: contain;
  width: 16px;  
}

